:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --logo-color: #000000;
    --text-color: #ffffff;
    --primary-bg-color: #2196f3;
    --secondary-bg-color: #f5f4fa;
    --footer-main-color: #2f303a;
    --footer-text-color: rgba(255, 255, 255, 0.6);
}

.html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.page {
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

/* утилиты */

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.link {
    font-family: inherit;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.container {
    width: 1230px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.flexbox {
    display: flex;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {

    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    color: var(--text-color);
    background-color: var(--primary-bg-color);
}

/* main heading*/


/*page-header*/

.page-header {
    padding-top: 24px;
    padding-bottom: 25px;

    background-color: var(--text-color);

    border-bottom: 1px solid var(--text-color);
}

/*page-nav*/

.page-nav {
    align-items: center;
}

/*logo*/

.logo {
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.logo.primary {
    color: var(--logo-color);
}

.logo.secondary {
    color: var(--text-color);
}

.logo.third {
    color: var(--primary-bg-color);
}

/*menu-nav*/
/* site-navigation*/

.site-navigation-list {
    margin-left: 93px;
}

/* .site-navigation .item { 
    margin-right: 50px;
} */

/* .site-navigation .item:last-child {
    margin-right: 0px; 
*/

.site-navigation-item+.site-navigation-item {
    margin-left: 50px;
}

.site-navigation-link {
    display: block;
    color: var(--title-text-color);

}

.site-navigation-link:hover,
.site-navigation-link:focus {
    color: var(--accent-color);
}

.site-navigation-link.current {
    color: var(--accent-color);
}

/*contact*/
.contact-header {
    padding: 0;
    margin-left: 0;
}

.contact-item+.contact-item {
    margin-left: 50px;
}

.contact-link {
    color: var(--primary-text-color);

}

.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
}

/*page-footer*/

.page-footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.contact-us .logo {
    margin-top: 0;
    margin-bottom: 20px;
}

.contacts-link {
    color: var(--footer-text-color);

}

.street.primary {
    color: var(--text-color);
}

.\visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}